.Board {
  border: 1px solid;
  height: 250px;
  width: 250px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocks {
  height: 60px;
  width: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;


}